/** Стили для пк **/
@media (max-width: 1440px) {
  .main-page header {
    margin: 0px;
    width: 100%;
  }

  .main-page .hero .text {
    margin-left: 10%;
  }

  .main-page .hero .text h1{
    font-size: 2.7rem;
  }

  .main-page .hero .text p{
    font-size: 1rem;
  }

  .main-page .hero .text a{
    font-size: 0.9rem;
  }

  .main-page .advantages {
    width: 80%;
  }

  .main-page .advantages {
    grid-template-columns: 1fr 1fr; 
  }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {  
  .main-page header .desktop-menu {
    display: none;
  }

  .main-page header .phone-number {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .main-page .hero .text {
    width: 55%;
  }

  .main-page .hero .text h1{
    font-size: 2.4rem;
  }

  .main-page .hero .text p{
    font-size: 0.9rem;
  }

  .main-page .hero .text a{
    font-size: 0.8rem;
  }

  .main-page .advantages {
    width: 80%;
  }
}

/** Стили для телефонов **/
@media (max-width: 800px) {
  .main-page .hero .text {
    width: 75%;
  }

  .main-page .hero .text a {
    width: 70%;
  }
  .main-page .advantages {
    grid-template-columns: 1fr; /* Выстраиваем в одну колонку */
  }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 400px) {

}
