body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*Общая анимацния для плавного появления*/
.fade-in {
  opacity: 0; 
  transition: opacity 0.7s ease-in-out; 
}

.fade-in.visible {
  opacity: 1; 
  transform: translateY(0);
}

/** Для якорных ссылок**/
#services, #projects, #about-us, #team, #contacts{
  scroll-margin-top: 80px;
}

/** ВСЕ ЧТО СВЯЗАНО С ШАПКОЙ **/
/** Стили шапки **/
.main-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: clamp(900px, 80vw, 1400px);
    margin-inline: auto;
    background-color: rgb(250, 250, 250);
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1000;
    animation: headerSlideDown 0.6s ease-out forwards;
    opacity: 0;
}

.header-container {
    width: 100%;
    background-color: rgb(250, 250, 250);
    height: 90px;
    position: fixed;
    z-index: 9000;
}

/* Ключевые кадры анимации */
@keyframes headerSlideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/** Блок логотипа и надписи **/
.main-page header .logo-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/** Стили логотипа **/
.main-page header .logo {
    width: auto;
    height: 48px;
}

/** Блок с тексом логотипа **/
.main-page header .logo-block .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap
}

/** Стили названия компании **/
.main-page header .logo-block h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(52, 66, 86);
}

/** Стили названия компании **/
.main-page header .logo-block h2 {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(101, 117, 139);
}

/** Стили навигаицонного меню **/
.desktop-menu ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0px;
}

.desktop-menu ul li a {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: rgb(52, 66, 86);
    white-space: nowrap;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.desktop-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F97316;
    transition: width 0.3s ease-in-out;
}

.desktop-menu ul li a:hover,
.desktop-menu ul li a:focus {
    color: #F97316;
}

.desktop-menu ul li a:hover::after,
.desktop-menu ul li a:focus::after {
    width: 100%;
}

/** Стили номера телефона **/
.phone-number {
    display: flex;
    align-items: center;
    font-weight: 800;
    color: #F97316;
    line-height: 1.5rem;
    font-size: 1rem;
    white-space: nowrap;
    gap: 0.5rem;
    transition: transform 0.2s ease;
}

.phone-number a {
    color: #F97316;
}

.phone-number:hover {
    transform: scale(1.05);
}

/** Бургер меню **/
.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    display: none;
}

.menu-toggle .hamburger {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.menu-toggle .hamburger::before {
    top: -8px;
}

.menu-toggle .hamburger::after {
    top: 8px;
}

.menu-toggle.active .hamburger {
    background-color: transparent;
}

.menu-toggle.active .hamburger::before {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
}

/** Стили для всплывающего навигационного меню **/
.mobile-menu {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100vw;
    z-index: 900;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    pointer-events: none;
    background-color: white;
}

.mobile-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    border-top: 1px solid #cbd5e0;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 3vw;
    gap: 2rem;
}

.mobile-menu ul li a {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: rgb(52, 66, 86);
    white-space: nowrap;
}

/** ВСЕ ЧТО СВЯЗАНО С ОСНОВНЫМ КОНТЕНТОМ НА СТРАНИЦЕ **/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** "Главный блок" **/
.main-page .hero {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    width: 100vw;
    height: 500px;
    background: linear-gradient(to bottom, rgb(63, 77, 102), rgba(74, 85, 104, 0.95));
}

.main-page .hero .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 90%;
    padding: 40px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.main-page .hero .text.visible {
    opacity: 1;
    transform: translateY(0);
}

/** Заголовок **/
.main-page .hero .text h1 {
    font-family: Montserrat, sans-serif;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

/** Текст под заголовком **/
.main-page .hero .text p {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    font-size: 1.15rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

/** Кнопка коммерческого предложения **/
.main-page .hero .text a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: #F97316;
    padding: 15px;
    width: 55%;
    line-height: 1.2;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

/** Анимация кнопки коммерческого предложения **/
.main-page .hero .text a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: left 0.6s ease-in-out;
    z-index: 1;
}

.main-page .hero .text a:hover::before {
    left: 100%;
}

.main-page .hero .text a>* {
    z-index: 2;
    position: relative;
}

/** блок "Опыт и преимущества" **/
.main-page .advantages {
    width: clamp(900px, 70vw, 1400px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin: 40px auto;
    padding: 20px;
    animation: slideInFromBottom 0.8s ease-out forwards;
    opacity: 0;
}

/** Анимация 2го блока **/
@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/** Оформлени карточек **/
.main-page .advantages .card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 5px solid #F97316;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-page .advantages .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

/** Оформлени текста картчоек **/
.main-page .advantages .card h2 {
    font-size: clamp(0.8rem, 0.5vw + 0.8rem, 1.15rem);
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.main-page .advantages .card p {
    font-size: clamp(0.6rem, 0.5vw + 0.8rem, 1rem);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6)
}

/** блок "Статистика" **/
.main-page .stats-block {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    gap: 2rem;
    padding: 50px 0;
    align-items: start;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, rgb(63, 77, 102), rgba(74, 85, 104, 0.95));
}

.main-page .stats-block .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

/** Изменениц цвета svg фигур **/
.main-page .stats-block .briefcase-icon {
    fill: #F97316 !important;
}

.main-page .stats-block .calendar-icon g path {
    stroke: #F97316 !important;
}

.main-page .stats-block .person-icon {
    fill: #F97316 !important;
}

/** Стили текста **/
.main-page .stats-block .stat-item span {
    font-size: clamp(1.5rem, 1.5vw + 0.9rem, 2.5rem);
    font-weight: 600;
    color: rgba(255, 255, 255, 1)
}

.main-page .stats-block .stat-item p {
    font-size: clamp(1rem, 1.5vw + 0.9rem, 1.5rem);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6)
}

/** 4й и 5й блок "Услуги" и "Проекты" **/
.main-page .section-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

/* Анимация для заголовка секции */
.main-page .section-block h2 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(1.5rem, 1.5vw + 0.9rem, 2.25rem);
    font-weight: 700;
    color: rgb(52, 66, 86);
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
}

/* Анимация для описания секции */
.main-page .section-block .section-intro {
    font-size: clamp(0.8rem, 0.5vw + 0.9rem, 1.125rem);
    font-weight: 400;
    color: rgb(101, 117, 139);
    padding-bottom: 50px;
    text-align: center;
    margin-inline: 20px;
}

/** Блок с картчоками **/
.main-page .section-block .section-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    gap: 3rem;
    margin-inline: 100px;
}

/** Стили карточек общие проектов и услуг **/
.main-page .section-block .section-grid .card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.6s ease, transform 0.6s ease;
    will-change: transform, opacity;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    color: rgb(52, 66, 86);
    opacity: 0;
    transform: translateY(30px);
    background-color: rgb(255, 255, 255);
}

.main-page .section-block .section-grid .card.visible {
    opacity: 1;
    transform: translateY(0);
}

.main-page .section-block .section-grid .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22);
    border-color: #F97316;
}

.main-page .section-block .section-grid .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
    will-change: transform;
}

.main-page .section-block .section-grid .card:hover img {
    transform: scale(1.1) translateY(-8px);
}

.main-page .section-block .section-grid .card h3 {
    margin: 20px;
    font-size: clamp(0.9rem, 1vw + 0.9rem, 1.25rem);
    color: rgb(52, 66, 86);
}

.main-page .section-block .section-grid .card p {
    text-align: left;
    padding: 0 10px 20px 20px;
    font-size: clamp(0.7rem, 0.25vw + 0.9rem, 1rem);
    color: rgb(101, 117, 139);
}

/* Стили для карточек проектов */
.main-page #projects {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.05);
}

/* Общий контент карточки */
.main-page .section-block .section-grid .projects-card .card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Заголовок проекта  */
.main-page .section-block .section-grid .projects-card h3 {
    font-size: clamp(1rem, 0.5vw + 0.9rem, 1.375rem);
    font-weight: 700;
    color: rgb(52, 66, 86);
    margin: 0;
    line-height: 1.3;
}

.main-page .section-block .section-grid .projects-card h4 {
    font-size: 0.875rem;
    font-size: clamp(0.7rem, 0.1vw + 0.9rem, 0.875rem);
    font-weight: 400;
    color: rgb(101, 117, 139);
    margin: 4px 0 0 0;
}

/* Блок статистики */
.main-page .section-block .section-grid .projects-card .card-stats {
    display: flex;
    gap: 12px;
    margin: 8px 0 0 0;
}

.main-page .section-block .section-grid .projects-card .stat {
    flex: 1;
    padding: 12px 16px;
    background-color: #fdf2e9;
    border-radius: 8px;
    text-align: center;
}

.main-page .section-block .section-grid .projects-card .stat-label {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(101, 117, 139);
    margin-bottom: 4px;
}

.main-page .section-block .section-grid .projects-card .stat-value {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(52, 66, 86);
}

/* Описание проекта */
.main-page .section-block .section-grid .projects-card p {
    font-size: 0.9375rem;
    line-height: 1.5;
    color: rgb(101, 117, 139);
    margin: 0;
    flex-grow: 1;
    padding: 0px;
}

.main-page .section-block .section-grid .projects-card .card-quote {
    margin-top: auto;
    padding-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.main-page .section-block .section-grid .projects-card blockquote {
    font-size: 0.9375rem;
    font-weight: 400;
    color: rgb(52, 66, 86);
    margin: 0;
    line-height: 1.5;
}

.main-page .section-block .section-grid .projects-card cite {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(101, 117, 139);
    display: block;
    text-align: right;
    margin-top: 8px;
}

/* 6й блок "О компании" */
.main-page .section-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding-top: 50px;
}

/* Блок с логотипом и названеим компании */
.main-page .section-about-us .section-name {
    display: flex;
    gap: 1rem;
    margin-inline: 40px;
}


.main-page .section-about-us .section-name img {
    width: 100px;
    height: 100px;
}

.main-page .section-about-us .section-name .name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.main-page .section-about-us .section-name .name h2 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(1.5rem, 0.5vw + 0.9rem, 2.25rem);
    font-weight: 800;
    color: rgb(52, 66, 86);
}

.main-page .section-about-us .section-name .name h3 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(0.8rem, 0.5vw + 0.9rem, 1.25rem);
    font-weight: 400;
    color: rgba(52, 66, 86, 0.7);
}

/* Блок с датей основания и небольшой историей */
.main-page .section-date {
    display: flex;
    align-items: center;
    max-width: 850px;
    margin-inline: 40px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-left: 5px solid #F97316 ;
    border-radius: 4px;
    padding: 10px;
    gap: 1rem;
}


/* svg картинка */
.main-page .section-date .calendar-icon g path {
    stroke: #F97316 !important;
}

/* Блок с текстом */
.main-page .section-date .date-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.35rem;
}

/* Дата */
.main-page .section-date .date-text h4 {
    font-size: clamp(0.8rem, 0.5vw + 0.9rem, 1.2rem);
    font-weight: 800;
    color: rgb(52, 66, 86);
}

/* Текст под датой */
.main-page .section-date .date-text p {
    font-size: clamp(0.7rem, 0.2vw + 0.9rem, 1rem);
    font-weight: 400;
    color: rgba(52, 66, 86, 0.7);
}

.main-page .section-about-us .section-company-values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 850px;
    margin-inline: 40px;
}

.main-page .section-about-us .section-company-values .value-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-page .section-about-us .section-company-values .value-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* svg картинки*/
.main-page .section-about-us .section-company-values .value-card svg path {
    fill: #F97316;
}

.main-page .section-about-us .section-company-values .value-card h4 {
    text-align: center;
    font-size: clamp(0.8rem, 0.5vw + 0.9rem, 1.1rem);
    font-weight: 800;
    color: rgb(52, 66, 86);
}

.main-page .section-about-us .section-company-values .value-card p {
    text-align: center;
    font-size: clamp(0.6rem, 0.5vw + 0.9rem, 0.85rem);
    font-weight: 400;
    color: rgba(52, 66, 86, 0.7);
}


/* Блок с текстом */
.main-page .section-about-us .section-about-us-text {
    max-width: 850px;
    margin-inline: 40px;
}

.main-page .section-about-us .section-about-us-text p {
    font-size: clamp(0.5rem, 0.2vw + 0.9rem, 1rem);
    font-weight: 400;
    color: rgba(52, 66, 86, 0.9);
    text-align: justify;
}

/* Блок с цитатей*/
.main-page .section-about-us .section-about-us-quote {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 850px;
    margin-inline: 40px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 15px;
    padding-inline: 30px;
    background-color: rgba(52, 66, 86, 0.05);
}


/* Цвет svg */
.main-page .section-about-us-quote svg {
  color: rgb(52, 66, 86); 
}

/* Стили текста */
.main-page .section-about-us-quote p {
  font-style: italic;
  color: rgb(52, 66, 86); 
}

.main-page .section-about-us .section-license {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.main-page .section-about-us .section-license .section-license-header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.main-page .section-about-us .section-license .section-license-header svg path {
    fill:#F97316 !important;
}

.main-page .section-about-us .section-license .section-license-header h3 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(0.8rem, 0.5vw + 0.9rem, 1.3rem);
    font-weight: 700;
    color: rgb(52, 66, 86);
    margin-top: 5px;
}

.main-page .section-about-us .section-license .licenses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 850px;
    margin-inline: 40px;
}

.main-page .section-about-us .section-license .licenses .card-license {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-page .section-about-us .section-license .licenses .card-license:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.main-page .section-about-us .section-license .licenses .card-license img {
    object-fit: cover;
    object-position: center;
}

.main-page .section-about-us .section-license .licenses .card-license h5 {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(52, 66, 86);
}

/* Блок контакной информации*/
.main-page .section-about-us .section-contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    width: 100%;
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    gap: 1rem;
    margin-inline: 40px;
}


.main-page .section-about-us .section-contact-info .contact-info-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-page .section-about-us .section-contact-info .contact-info-header h5 {
    font-size: clamp(0.8rem, 0.5vw + 0.9rem, 1.5rem);
    color: rgb(52, 66, 86);
    text-align: center;
}

.main-page .section-about-us .section-contact-info .contact-info-header svg {
    fill: rgb(52, 66, 86) !important;
}

.main-page .section-about-us .section-contact-info .contact-info p {
    font-size: clamp(0.6rem, 0.3vw + 0.9rem, 1rem);
    font-weight: 400;
    color: rgb(52, 66, 86);
    margin-bottom: 8px;
}

/* Блок партнеров с эффектом карусели*/
.main-page .section-partners {
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);;
    width: 100%;
    overflow: hidden;
}

.main-page .section-partners h3 {
   font-size: 2rem;
   font-size: clamp(1.5rem, 0.5vw + 0.9rem, 2rem);
   color: rgb(52, 66, 86);
   font-weight: 700;
   font-family: Montserrat, sans-serif;
   text-align: center;
}

.main-page .section-partners p {
   font-size: clamp(0.7rem, 0.5vw + 0.9rem, 1rem);
   padding-bottom: 2rem;
   font-weight: 400;
   color: rgb(101, 117, 139);
   text-align: center;
}

.main-page .section-partners .carousel-container {
  margin: 0 auto;
  max-width: 1100px;
  overflow: hidden;
  display: flex;
  padding: 10px 0;
}

.main-page .section-partners .carousel-container > * {
  flex: 0 0 100%;
}

.main-page .section-partners .group {
  display: flex;
  gap: 1.25rem;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main-page .section-partners .carousel-container:hover .group {
  animation-play-state: paused;
}

.main-page .section-partners .carousel-card {
    width: 200px;
    transition: transform 0.3s ease;
}

.main-page .section-partners .carousel-card:hover {
    transform: scale(1.1);
}

/*Блок наша команда*/
.main-page .section-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 35px;
    gap: 0.5rem;
}

.main-page .section-team h3 {
   font-size: clamp(1.5rem, 0.5vw + 0.9rem, 2rem);
   color: rgb(52, 66, 86);
   font-weight: 700;
   font-family: Montserrat, sans-serif;
   text-align: center;
}

.main-page .section-team p {
   font-size: clamp(0.7rem, 0.5vw + 0.9rem, 1rem);
   padding-bottom: 2rem;
   font-weight: 400;
   color: rgb(101, 117, 139);
   text-align: center;
}

.main-page .section-team .section-team-grid {
  display: grid;
  max-width: 1000px; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 225px));
  gap: 1rem;
  margin: 0 auto;
}

.main-page .section-team .section-team-grid .card-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-page .section-team .section-team-grid .card-person:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.main-page .section-team .section-team-grid .card-person img { 
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.main-page .section-team .section-team-grid .card-person h4 { 
    text-align: center;
    font-size: 1.2rem;
    color: rgb(52, 66, 86);
}

.main-page .section-team .section-team-grid .card-person h5 { 
    text-align: center;
    font-size: 0.9rem;
    color: #F97316;
}

.main-page .section-team .section-team-grid .card-person p { 
    text-align: center;
    font-size: 0.8rem;
    color: rgb(101, 117, 139);
    margin-inline: 5px;
}

.main-page .section-team .recruitment-info { 
    display: flex;
    max-width: 800px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    gap: 1.5rem;
    padding: 25px;
    margin-top: 25px;
}

.main-page .section-team .recruitment-info svg path { 
    fill: #F97316;
}

.main-page .section-team .recruitment-info svg  { 
    min-width: 50px;
}

.main-page .section-team .recruitment-info .recruitment-text { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-page .section-team .recruitment-info .recruitment-text h5 { 
    font-size: clamp(0.7rem, 0.5vw + 0.9rem, 1.5rem);
    font-weight: 700;
    color: rgb(52, 66, 86)
}

.main-page .section-team .recruitment-info .recruitment-text p { 
    font-size: clamp(0.5rem, 0.2vw + 0.9rem, 1rem);
    font-weight: 400;
    color: rgb(84, 102, 126);
    text-align: left;
    margin: 0px;
    padding: 0px;
}

/*Обратная связь*/
.main-page .section-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page .section-contacts h3 {
    font-size: clamp(1.5rem, 0.5vw + 0.9rem, 2rem);
   color: rgb(52, 66, 86);
   font-weight: 700;
   font-family: Montserrat, sans-serif;
   text-align: center;
}

.main-page .section-contacts p {
   font-size: clamp(0.7rem, 0.5vw + 0.9rem, 1rem);
   padding-bottom: 2rem;
   font-weight: 400;
   color: rgb(101, 117, 139);
   text-align: center;
}

.main-page .section-contacts .contacts-block {
    display: flex;
}

.main-page .section-contacts .contacts-block .contacts-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30px;
}

.main-page .section-contacts .contacts-block .contacts-info .block-text {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main-page .section-contacts .contacts-block .contacts-info .block-text .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main-page .section-contacts .contacts-block .contacts-info .block-text .text strong {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(36, 47, 63);
}

.main-page .section-contacts .contacts-block .contacts-info .block-text .text span {
    font-size: clamp(0.5rem, 0.2vw + 0.9rem, 0.9rem);
    font-weight: 400;
    color: rgb(101, 117, 139)
}

.main-page .section-contacts .contacts-block .contacts-info .block-text .text a {
    font-size: clamp(0.5rem, 0.2vw + 0.9rem, 0.9rem);
    font-weight: 400;
    color: #F97316;
}  

/*Форма обратной связи */
.main-page .section-contacts .contacts-block .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 30px;
    width: 70%;
}

.main-page .section-contacts .contacts-block .contact-form h4 {
    font-size: clamp(0.9rem, 0.4vw + 0.9rem, 1.25rem);
    font-weight: 700;
    color: rgb(63, 77, 102);
    align-items: center;
}

/*Анимка на форме*/
.main-page .section-contacts .contacts-block .contact-form input,
.main-page .section-contacts .contacts-block .contact-form select,
.main-page .section-contacts .contacts-block .contact-form textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.main-page .section-contacts .contacts-block .contact-form input:focus,
.main-page .section-contacts .contacts-block .contact-form select:focus,
.main-page .section-contacts .contacts-block .contact-form textarea:focus {
    outline: none;
    border-color: #F97316;
    box-shadow: 0 0 0 2px rgba(255, 122, 0, 0.1);
}

/*Кнопка отправить форму*/
.main-page .section-contacts .contacts-block .contact-form .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1rem; 
    background-color: #F97316;
    padding: 15px;
    width: 100%; 
    line-height: 1.2;
    position: relative;
    overflow: hidden;
    border: none; 
    cursor: pointer;
    border-radius: 6px;
}

/* Анимация блика */
.main-page .section-contacts .contacts-block .contact-form .submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: left 0.6s ease-in-out;
    z-index: 1;
}

.main-page .section-contacts .contacts-block .contact-form .submit-btn:hover::before {
    left: 100%;
}

.main-page .section-contacts .contacts-block .contact-form .submit-btn > * {
    position: relative;
    z-index: 2;
}

/*Стили карты*/
.main-page .section-map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.main-page .section-map .map-container {
    width: 700px;
    height: 400px;
}

.main-page .map-container iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

.main-page footer {
    min-height: 300px;
    width: 100%;
    background-color: rgb(52, 66, 86);
}

.main-page footer .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 200px;
    padding-top: 30px;
}

.main-page footer .footer-top .footer-column {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-page footer .footer-top .footer-column .logo-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-page footer .footer-top .footer-column .logo-block img {
    width: 50px;
    height: 50px;
}

.main-page footer .footer-top .footer-column .logo-block text  {
   display: flex;
   flex-direction: column;
}

.main-page footer h6 {
   font-size: 22px;
   color: white;
}

.main-page footer p {
   font-size: 14px;
   color: white;
   margin: 0px;
}

.main-page footer .block-text {
    display: flex;
    align-items: center;
    gap: 1rem;
} 

.main-page footer .block-text {
    color: #F97316;
}

.main-page footer .block-text a {
    color: white;
}

.main-page footer .block-text span {
    color: white;
}

.main-page footer .footer-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 0.3rem;
}

.main-page footer .footer-bottom p {
    text-align: center;
}